<div class="jumbotron">
	<div class="form-group">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form name="cadastroForm">
						<legend>Cadastro de usuário</legend>
						<fieldset>
							<div class="col-sm-4">
								<label>Nome</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"> 
										<i class="glyphicon glyphicon-user"></i>
									</span>
									<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
								</div>
								<!-- <input class="form-control" type="text" id="nome" name="nome" ng-required="true" ng-model="user.name"
								 ng-minlength="5" min="5">
								 <div ng-show=" cadastroForm.nome.$invalid && cadastroForm.nome.$dirty" class="alert alert-danger"> 
									Por gentileza digite um nome válido!
								 </div> -->
							</div>
							<div class="col-sm-2">
								<label class="control-label">Nascimento</label>
								<input class="form-control" type="text" name="nasc" ng-required="true" ng-model="user.dateBirth" ui-date-mask="DD/MM/YYYY">
								<div ng-show="cadastroForm.nasc.$invalid && cadastroForm.nasc.$dirty " class="alert alert-danger">
									Insira uma data válida.
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group checkbox-genero">
									<label class="control-label ">
										<input type="radio" name="sex" value="Female" ng-model="user.sex" ng-required="true"> Feminino
									</label>
									<label class="control-label ">
										<input type="radio" name="sex" value="Male" ng-model="user.sex" ng-required="true">Masculino
									</label>
									<div ng-show="cadastroForm.sex.$invalid && cadastroForm.sex.$dirty" class="alert alert-danger">
										Selecione uma opção.
									</div>
								</div>
							</div>

							<div class=" col-sm-4 ">
								<div class="form-group">
									<label class="control-label">CPF</label>
									<input class="form-control" type="text" name="Cpf" ng-required="true" ng-model="user.cpf" ui-br-cpf-mask>
									<div ng-show="cadastroForm.Cpf.$invalid && cadastroForm.Cpf.$dirty" class="alert alert-danger">
										Digite um CPF válido.
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<div class="form-group col-sm-4">
								<label class="control-label">Email</label>
								<input class="form-control" type="email" name="email" ng-required="true" ng-model="user.email" placeholder="email@exemplo.com">
							</div>
							<div class="form-group col-sm-4">
								<label class="control-label ">Telefone</label>
								<input class="form-control" type="tel" name="telefone" ng-required="true" placeholder="(99)9999-9999" ng-model="user.phone"
								 ui-br-phone-number>
							</div>
							<div class="form-group col-sm-4">
								<label class="control-label ">Celular</label>
								<input class="form-control" type="tel" name="celular" placeholder="(99) 99999-9999" ng-model="user.Celular"
								 ui-br-phone-number>
							</div>
						</fieldset>
						<legend>Endereço</legend>
						<fieldset>
							<div class="form-group col-sm-6">
								<label class="control-label ">Lougradouro</label>
								<input class="form-control" type="text" name="logradouro" placeholder="Rua, Av., Est.">
							</div>
							<div class="form-group col-sm-2">
								<label class="control-label">CEP</label>
								<input class="form-control" type="text" name="cep" placeholder="09000-000" ng-model="user.cep" ui-br-cep-mask>
							</div>
							<div class="form-group col-sm-2">
								<label class="control-label ">Número</label>
								<input class="form-control" type="number" name="numero" placeholder="Nº">
							</div>
							<div class="form-group col-sm-2">
								<label class="control-label ">Bairro</label>
								<input class="form-control" type="text" name="bairro" placeholder="Bairro">
							</div>
						</fieldset>
						<button class="btn btn-primary" type="button" ng-model="adicionar" ng-click="salvar(user)" ng-disabled="cadastroForm.$invalid">Cadastrar</button>
						{{user}}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>