
form .ng-dirty.ng-invalid {
    border-color: #a94442;
    color: #a94442;
}

form .ng-dirty.ng-valid {
    border-color: #3c763d;
    color: #3c763d;
}

form .no-validate {
    border: 1px solid #222 !important;
    color: #222 !important;
}

.checkbox-genero{
	margin-top: 25px;
	margin-left: 55px;
	margin-right: 0;
}
.alert-danger{
    margin-top: 5px;
}

.required:after{
    content: " * ";
    color: #a94442;
}

