<!DOCTYPE html>
<html ng-app="bomControle">
<script src="app/pages/navigation/navigation.js"></script>
<script src="app/services/http/userHttpServices.js"></script>
<link rel="stylesheet" type="text/css" href="app/pages/userList/userList.css">
<head>
	<div class="nav"></div>
	<title>Tabela User</title>
</head>
<body ng-controller ="userListController">
	<div class="jumbotron"> 

		<h3 class= "display-4">Tabela de usuários</h3>
 <input class="form-control" type="text" ng-model="busca" placeholder="busca">
<table class= "table">
	<thead class = "thead-light">
		<tr>
			<th></th>
			<th>Nome</th>
			<th>Aniversario</th>
			<th>Sexo</th>
			<th>CPF</th>
			<th>E-mail</th>
			<th>Telefone</th>
		</tr>

	</thead>
<tbody>
	<tr ng-class="{selecionado: user.selecionado}" ng-repeat = "user in list | filter: busca | orderBy:'name': false " >
		<td><input type="checkbox" ng-model ="user.selecionado"/></td>
		<td>{{user.name}}</td>
		<td>{{user.dateBirth}}</td>
		<td>{{user.sex}}</td>
		<td>{{user.cpf}}</td>
		<td>{{user.email}}</td>
		<td>{{user.phone}}</td>		
	</tr>
</tbody>
</div>
<button class="btn btn-danger " ng-click= "apagarUser(list)" ng-disable= "isUserSelecionado()">DELETAR</button>
</body>
</html>
