<div class="jumbotron">
	<fieldset>
		<div class="busca col-sm-4">
			<input class="form-control" type="text" ng-model="buscar" placeholder="busca">
		</div>
		<div> 
			<button class="btn btn-primary" ng-click="novoCadastro()"> Novo cadastro </button>
			<button class="btn btn-primary" ng-click="resetUsuarios()">Reset</button>
		</div>
	</fieldset>
	<div class="panel panel-primary">
		<div class="panel-heading">Lista de Usuários </div>
		<table class="table ">
			<thead>
				<tr>
					<th></th>
					<th scope="col">Nome</th>
					<th scope="col">Aniversario</th>
					<th scope="col">Sexo</th>
					<th scope="col">CPF</th>
					<th scope="col">E-mail</th>
					<th scope="col">Telefone</th>
					<th scope="col"></th>
					<th scope="col">
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in listaUsuarios| filter: buscar ">
					<td></td>
					<td>{{user.name}}</td>
					<td>{{user.dateBirth | date:'dd/MM/yyyy'}}</td>
					<td>{{user.sex}}</td>
					<td>{{user.cpf | cpf}}</td>
					<td>{{user.email}}</td>
					<td>{{user.phone | telefone}}</td>
					<td>
						<button type="button" class="btn btn-default" aria-label="true" ng-click="apagarUser(user)">
							<i class="glyphicon glyphicon-remove"></i>
						</button>

					</td>
					<td>
						<button ng-model = "editar" type="button" class="btn btn-default" aria-label="true" ng-click=" editarUser(user)">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>

					</td>
				</tr>

			</tbody>
		</table>

	</div>
	<!-- <tela-editar ng-if="aparece" dados="usuario"></tela-editar> -->
</div>