.jumbotron{
 background: transparent;
}


.btn-danger{
	margin: 20px;
}



.panel-primary{

margin-left: 40px;
margin-right: 40px;
margin-top: 20px;
}

.busca{
	margin-top: 45px;
	margin-left: 40px;
}

.btn-group{

	margin-top: 45px;

}

